services:
  backend-hackaton:
    build: .
    ports:
      - '3001:3001'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      PORT: 3001
      PYTHON_SERVICE_URL: http://host.docker.internal:5000
    command: npm run start:dev