version: '3.8'
services:
  backend-hackaton:
    build: .
    ports:
      - '3001:3001'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      PORT: 3001
    command: npm run start:dev